<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>break_down_list</key>
	<array>
		<dict>
			<key>userid</key>
			<integer>0</integer>
			<key>status_name</key>
			<string>已上报</string>
			<key>status_id</key>
			<integer>2</integer>
			<key>description</key>
			<string>客厅天花灯带不亮</string>
			<key>createdate</key>
			<string>2016-10-18 19:36:09</string>
			<key>count</key>
			<integer>0</integer>
			<key>breakdown_id</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>userid</key>
			<integer>0</integer>
			<key>status_name</key>
			<string>已上报</string>
			<key>status_id</key>
			<integer>3</integer>
			<key>description</key>
			<string>老人房摄像头无图像</string>
			<key>createdate</key>
			<string>2016-10-18 17:39:55</string>
			<key>count</key>
			<integer>0</integer>
			<key>breakdown_id</key>
			<integer>8</integer>
		</dict>
	</array>
</dict>
</plist>
