<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>energy_stat_list</key>
	<array>
		<dict>
			<key>eid</key>
			<integer>23</integer>
			<key>ename</key>
			<string>卧室空调</string>
			<key>minute_time</key>
			<integer>180</integer>
		</dict>
		<dict>
			<key>eid</key>
			<integer>22</integer>
			<key>ename</key>
			<string>厨房空调</string>
			<key>minute_time</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>eid</key>
			<integer>21</integer>
			<key>ename</key>
			<string>客厅空调</string>
			<key>minute_time</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>eid</key>
			<integer>20</integer>
			<key>ename</key>
			<string>餐厅空调</string>
			<key>minute_time</key>
			<integer>90</integer>
		</dict>
		<dict>
			<key>eid</key>
			<integer>19</integer>
			<key>ename</key>
			<string>儿童房空调</string>
			<key>minute_time</key>
			<integer>120</integer>
		</dict>
	</array>
</dict>
</plist>
