<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eq_energy_list</key>
	<array>
		<dict>
			<key>dateflag</key>
			<string>2017-01-19</string>
			<key>eid</key>
			<integer>0</integer>
			<key>ename</key>
			<string></string>
			<key>energy</key>
			<integer>1</integer>
			<key>minute_time</key>
			<integer>10</integer>
			<key>switch_list</key>
			<array/>
		</dict>
		<dict>
			<key>dateflag</key>
			<string>2017-01-18</string>
			<key>eid</key>
			<integer>0</integer>
			<key>ename</key>
			<string></string>
			<key>energy</key>
			<integer>1</integer>
			<key>minute_time</key>
			<integer>10</integer>
			<key>switch_list</key>
			<array/>
		</dict>
		<dict>
			<key>dateflag</key>
			<string>2017-01-17</string>
			<key>eid</key>
			<integer>0</integer>
			<key>ename</key>
			<string></string>
			<key>energy</key>
			<integer>1</integer>
			<key>minute_time</key>
			<integer>10</integer>
			<key>switch_list</key>
			<array/>
		</dict>
		<dict>
			<key>dateflag</key>
			<string>2017-01-16</string>
			<key>eid</key>
			<integer>0</integer>
			<key>ename</key>
			<string></string>
			<key>energy</key>
			<integer>1</integer>
			<key>minute_time</key>
			<integer>10</integer>
			<key>switch_list</key>
			<array/>
		</dict>
		<dict>
			<key>dateflag</key>
			<string>2017-01-15</string>
			<key>eid</key>
			<integer>0</integer>
			<key>ename</key>
			<string></string>
			<key>energy</key>
			<integer>1</integer>
			<key>minute_time</key>
			<integer>10</integer>
			<key>switch_list</key>
			<array/>
		</dict>
		<dict>
			<key>dateflag</key>
			<string>2017-01-14</string>
			<key>eid</key>
			<integer>0</integer>
			<key>ename</key>
			<string></string>
			<key>energy</key>
			<integer>1</integer>
			<key>minute_time</key>
			<integer>10</integer>
			<key>switch_list</key>
			<array/>
		</dict>
		<dict>
			<key>dateflag</key>
			<string>2017-01-13</string>
			<key>eid</key>
			<integer>0</integer>
			<key>ename</key>
			<string></string>
			<key>energy</key>
			<integer>1</integer>
			<key>minute_time</key>
			<integer>10</integer>
			<key>switch_list</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
