<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>host_user_list</key>
	<array>
		<dict>
			<key>room_user_list</key>
			<array>
				<dict>
					<key>isopen</key>
					<integer>2</integer>
					<key>room_id</key>
					<integer>3</integer>
					<key>room_name</key>
					<string>客厅</string>
					<key>roomuser_id</key>
					<integer>9</integer>
				</dict>
				<dict>
					<key>isopen</key>
					<integer>2</integer>
					<key>room_id</key>
					<integer>14</integer>
					<key>room_name</key>
					<string>厨房</string>
					<key>roomuser_id</key>
					<integer>61</integer>
				</dict>
			</array>
			<key>roomcount</key>
			<integer>10</integer>
			<key>userid</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>room_user_list</key>
			<array>
				<dict>
					<key>isopen</key>
					<integer>1</integer>
					<key>room_id</key>
					<integer>3</integer>
					<key>room_name</key>
					<string>客厅</string>
					<key>roomuser_id</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>isopen</key>
					<integer>2</integer>
					<key>room_id</key>
					<integer>14</integer>
					<key>room_name</key>
					<string>厨房</string>
					<key>roomuser_id</key>
					<integer>60</integer>
				</dict>
			</array>
			<key>roomcount</key>
			<integer>10</integer>
			<key>userid</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
