<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>notify_list</key>
	<array>
		<dict>
			<key>addtime</key>
			<string>2016-10-05 10:27:58</string>
			<key>description</key>
			<string>【逸云智家】温馨提醒：您家庭有侵入</string>
			<key>isread</key>
			<integer>1</integer>
			<key>notify_id</key>
			<integer>62</integer>
		</dict>
		<dict>
			<key>addtime</key>
			<string>2016-09-05 19:20:50</string>
			<key>description</key>
			<string>【逸云智家】温馨提醒：您家庭有煤气泄漏警报</string>
			<key>isread</key>
			<integer>1</integer>
			<key>notify_id</key>
			<integer>61</integer>
		</dict>
		<dict>
			<key>addtime</key>
			<string>2016-09-01 11:27:00</string>
			<key>description</key>
			<string>【逸云智家】温馨提醒：您家庭有烟雾报警</string>
			<key>isread</key>
			<integer>1</integer>
			<key>notify_id</key>
			<integer>64</integer>
		</dict>
		<dict>
			<key>addtime</key>
			<string>2016-07-19 21:00:09</string>
			<key>description</key>
			<string>【逸云智家】温馨提醒：您家庭的门开了</string>
			<key>isread</key>
			<integer>0</integer>
			<key>notify_id</key>
			<integer>63</integer>
		</dict>
	</array>
</dict>
</plist>
