<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>notify_list</key>
	<array>
		<dict>
			<key>addtime</key>
			<string>2016-10-05 10:27:58</string>
			<key>description</key>
			<string>煤气管道漏气了</string>
			<key>isread</key>
			<integer>0</integer>
			<key>notify_id</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>addtime</key>
			<string>2016-09-05 19:20:50</string>
			<key>description</key>
			<string>您家的卧室门开了</string>
			<key>isread</key>
			<integer>1</integer>
			<key>notify_id</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>addtime</key>
			<string>2016-09-01 11:27:00</string>
			<key>description</key>
			<string>您家的房门开了</string>
			<key>isread</key>
			<integer>1</integer>
			<key>notify_id</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>addtime</key>
			<string>2016-08-05 19:27:58</string>
			<key>description</key>
			<string>有人从窗户爬进卧室</string>
			<key>isread</key>
			<integer>0</integer>
			<key>notify_id</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>addtime</key>
			<string>2016-08-05 19:37:58</string>
			<key>description</key>
			<string>有人从窗户爬出卧室</string>
			<key>isread</key>
			<integer>0</integer>
			<key>notify_id</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>addtime</key>
			<string>2016-07-19 21:00:09</string>
			<key>description</key>
			<string>厨房里浓烟滚滚，赶紧去看看</string>
			<key>isread</key>
			<integer>0</integer>
			<key>notify_id</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
