<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>notify_type_list</key>
	<array>
		<dict>
			<key>actcode</key>
			<integer>61</integer>
			<key>item_id</key>
			<integer>1</integer>
			<key>item_name</key>
			<string>侵入</string>
			<key>unreadcount</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>actcode</key>
			<integer>62</integer>
			<key>item_id</key>
			<integer>2</integer>
			<key>item_name</key>
			<string>煤气泄漏</string>
			<key>unreadcount</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>actcode</key>
			<integer>63</integer>
			<key>item_id</key>
			<integer>3</integer>
			<key>item_name</key>
			<string>烟雾警报</string>
			<key>unreadcount</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>actcode</key>
			<integer>64</integer>
			<key>item_id</key>
			<integer>4</integer>
			<key>item_name</key>
			<string>开门</string>
			<key>unreadcount</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
