<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tcpPort</key>
	<string></string>
	<key>tcpServer</key>
	<string></string>
	<key>httpPort</key>
	<integer>8088</integer>
	<key>httpServer</key>
	<string>115.28.151.85</string>
</dict>
</plist>
