<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tcpPort</key>
	<string>8000</string>
	<key>tcpServer</key>
	<string>120.204.196.224</string>
	<key>httpPort</key>
	<integer>3000</integer>
	<key>httpServer</key>
	<string>192.168.199.203</string>
</dict>
</plist>
