<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC " -//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict><key>rects</key><array><dict><key>roomID</key><integer>2</integer><key>image</key><string>http://115.28.151.85:8081/Cloud/uploadimg/real/20161117153236.jpg</string><key>rects</key><array><dict><key>deviceID</key><integer>67</integer><key>rect</key><string>{{171, 192}, {271, 302}}</string><key>poweron</key><false/><key>nextImg</key><string>http://115.28.151.85:8081/Cloud/uploadimg/real/0_20161117153532_1.jpg</string></dict><dict><key>deviceID</key><integer>66</integer><key>rect</key><string>{{305, 5}, {414, 161}}</string><key>poweron</key><false/><key>nextImg</key><string>http://115.28.151.85:8081/Cloud/uploadimg/real/0_20161117153532_1.jpg</string></dict></array></dict></array></dict></plist>