<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>user_list</key>
	<array>
		<dict>
			<key>user_id</key>
			<integer>1</integer>
			<key>username</key>
			<string>杨颖</string>
			<key>usertype</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>user_id</key>
			<integer>5</integer>
			<key>username</key>
			<string>黄晓明</string>
			<key>usertype</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
